# Dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Build files
dist/
build/
.out/
.next/
.vite/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.babelrc
.eslintcache
.stylelintcache

# Testing
/coverage
/jest.config.js
/jest.setup.js
/cypress/screenshots/
/cypress/videos/

# Miscellaneous
*.lock
*.cache
.pnp
.pnp.js
.npmrc
.yarn-integrity
